// Import site utilities.
@import '../../global/utils/init';

.gallery-lightbox {
  display: grid;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  margin-top: 1.5rem;

  @include breakpoint($bp-xsm) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @include breakpoint($bp-sm) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.gallery-lightbox-item {
  border: 3px solid transparent;
  margin: auto;
  position: relative;
  transition: border 0.25s;
  overflow: hidden;

  &:hover,
  &:focus-within {
    border: 3px solid $color-blue;

    .gallery-lightbox-item__expand {
      bottom: 10px;
    }
  }
}

.gallery-lightbox-item__media {
  display: block;
}

.gallery-lightbox-item__expand {
  display: block;
  position: absolute;
  right: 10px;
  bottom: -35px;
  transition: bottom 0.25s;
  border: 0;
  padding: 0;
  margin: 0;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.gallery-lightbox__title {
  @include wire-large-heading;
}

// Colorbox overrides
#cboxLoadedContent {//sass-lint:disable-line no-ids
  background: #000;
}
