// Import site utilities.
@import '../../global/utils/init';

.button__container {
  margin-top: 50px;

  .button__inner {
    position: relative;
    height: 28px;
    border: 1px solid $color-black;
    padding-left: 300px;
    margin-left: -250px;

    .button {
      position: absolute;
      top: -22px;
      right: -1px;
      background-color: $color-white;
      border: 0;
      color: $color-tertiary;
      font-weight: bold;
      font-size: 1.3125rem;
      padding: 10px 20px;

      &::after {
        padding-left: 10px;
        content: '>';
      }

      &:hover {
        color: $color-primary;
      }
    }
  }
}

.button,
input[type='submit'] {
  @include button;
  border-radius: 4px;
  background-color: $color-primary;
  border-color: $color-primary;

  &.button--small {
    font-size: 0.875rem;
  }
}
