// Import site utilities.
@import '../../global/utils/init';

.paragraph--type--text {
  @include breakpoint($bp-sm) {
    max-width: 725px;
    border-left: 1px solid $color-primary;
    border-right: 1px solid $color-primary;

    .paragraph--type--text__inner {
      padding: 0 80px;
    }
  }
}
