// Import site utilities.
@import '../../global/utils/init';

.accordion {
  background: $color-tertiary;

  &:first-of-type {
    border: 1px solid $color-white;
  }
}

.accordion__heading {
  font-size: 1.2rem;
  color: $color-white;
  font-weight: normal;
}

.accordion__toggle {


  &::after {
    content: url('../images/accordion__arrow.svg');
    fill: #000;
  }
}

.accordion.open {

  .accordion__heading {
    color: $color-black;
  }

  .accordion__toggle {

    &::after {
      content: url('../images/accordion__arrow--dark.svg');
    }
  }
}
