// Import site utilities.
@import '../../global/utils/init';

.search-api-page-block-form-search-results {

  button[type='submit'],
  input[type='submit'] {
    background-color: $color-primary;
  }

  input[type='search']::placeholder {
    color: $color-gray-lt;
  }
}
