.paragraph-form-item--has-subform.color-scheme-inverted{
  padding:20px;
  color:#dae0e3;
}

.color-scheme-inverted{
  color:#dae0e3;
  background-color:#031218;
}

.color-scheme-inverted .button:disabled, .color-scheme-inverted .button:disabled:active, .color-scheme-inverted .button:disabled:hover, .color-scheme-inverted .button.is-disabled, .color-scheme-inverted .button.is-disabled:active, .color-scheme-inverted .button.is-disabled:hover{
  background-color:transparent;
  border-color:#d4d4d4;
  color:#d4d4d4;
}

.color-scheme-inverted .tips,
.color-scheme-inverted .description,
.color-scheme-inverted .form-item .description{
  color:white;
}

.color-scheme-inverted details,
.color-scheme-inverted fieldset:not(.fieldgroup){
  background-color:transparent;
  border-color:#062330;
}

.color-scheme-inverted .seven-details > summary{
  color:#dae0e3;
}

.color-scheme-inverted .seven-details > summary:hover{
  text-decoration:none;
}

.color-scheme-inverted .seven-details > summary .details-title{
  color:#dae0e3;
}

.color-scheme-inverted .seven-details > summary .details-title:hover{
  text-decoration:none;
}

.color-scheme-inverted label{
  color:#dae0e3;
}

.color-scheme-inverted input.form-autocomplete,
.color-scheme-inverted input.form-text,
.color-scheme-inverted input.form-tel,
.color-scheme-inverted input.form-email,
.color-scheme-inverted input.form-url,
.color-scheme-inverted input.form-search,
.color-scheme-inverted input.form-number,
.color-scheme-inverted input.form-color,
.color-scheme-inverted input.form-file,
.color-scheme-inverted input.form-date,
.color-scheme-inverted input.form-time,
.color-scheme-inverted textarea.form-textarea{
  background-color:#fafafa;
}

.color-scheme-inverted .field--name-field-text .form-type-textarea label,
.color-scheme-inverted .field--name-field-url .form-type-url label{
  color:#fafafa;
}

.color-scheme-inverted .details__toggle-description .button__icon svg path,
.color-scheme-inverted .form-item__toggle-description .button__icon svg path{
  fill:white;
}

.color-scheme-inverted thead th{
  color:#dae0e3;
  background-color:transparent;
}

.color-scheme-inverted tbody tr:hover,
.color-scheme-inverted tbody tr:focus{
  background-color:transparent;
}

.color-scheme-inverted .form-disabled input,
.color-scheme-inverted .form-disabled select,
.color-scheme-inverted .form-disabled textarea,
.color-scheme-inverted .form-disabled .select2-selection--single,
.color-scheme-inverted .form-disabled .select2-selection--multiple{
  color:#d4d4d4;
  background-color:inherit;
}
