/**
 * Thunder Admin color overrides.
 */

/**
 * Button overrides.
 */
.button.form-submit {
  border:1px solid #038836;
  background-color: #038836;
  background-image:linear-gradient(0deg, #038836 0%, #038836 100%);
  color:#fff;
  padding: 7px 18px;
}

.button.form-submit:focus, .button.form-submit:hover {
  background-color: #025E25;
  background-image:linear-gradient(180deg, #025E25 0%, #025E25 100%);
}

.button.form-submit.paragraphs-previewer {
  background: #0C5C7F;
}

/**
 * Override paragraphs summary fadeout for truncated summaries.
 */
.js .paragraphs-description .paragraphs-content-wrapper::after, 
.js .paragraphs-description .paragraphs-plugin-wrapper::after {
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #dff2fd 100%) !important;
}

.js tr:hover .paragraphs-description .paragraphs-content-wrapper::after, 
.js tr:hover .paragraphs-description .paragraphs-plugin-wrapper::after {
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #EAF6FE 100%) !important;
}

/**
 * Paragraph preview styles
 */
.paragraph--view-mode--preview .field--name-field-title {
  font-weight: bold;
}

.paragraph--view-mode--preview .field {
  margin: .5em 0;
}

.paragraph--view-mode--preview .field--type-image {
  float: left;
  margin-right: 1em;
}

/**
 * Make sticky save bar on top
 */
.js body.advanced-sidebar-tray .content-form__actions {
  z-index: 1000;
}

/**
 * Sticky submit override.
 */
#edit-submit {
  background: #0C5C7F;
  border-color: #fff;
}

#edit-submit:hover {
  background: #09364A;
}

/**
 * Help icon override on node form.
 */
.content-form__layout-region.content-form__main .form-item__toggle-description {
  width: 27px;
  height: 27px;
}

.entity-add-or-edit-form .details__toggle-description .button__icon svg path,
.entity-add-or-edit-form .form-item__toggle-description .button__icon svg path {
  fill: #038836;
}

.button--highlight .button__icon svg path, .button:focus .button__icon svg path, .button:hover .button__icon svg path {
}

/**
 * Help icon in docked sidebar.
 */
#edit-advanced .details__toggle-description .button__icon svg path,
#edit-advanced .form-item__toggle-description .button__icon svg path {
  fill: #EAF6FE;
}

#edit-advanced .button--highlight .button__icon svg path,
#edit-advanced .button:focus .button__icon svg path,
#edit-advanced .button:hover .button__icon svg path {
  fill: #D8D8D8;
}

/**
 * Override sidebar line
 */
body .entity-meta--advanced .seven-details {
  border-top: 2px solid #0C5C7F;
  border-bottom: 2px solid #0C5C7F;
}

/**
 * Better node fieldset spacing.
 */
.content-form__main > details {
  padding-top: 60px;
  padding-left: 0;
  padding-right: 0;
}

fieldset:not(.fieldgroup) {
  padding-top: 45px;
}

/**
 * Fieldset color
 */
.content-form__main > details, fieldset:not(.fieldgroup) {
  background-color: #EAF6FE;
}

/**
 * Fieldset heading size
 */
.content-form__main > details > summary, fieldset:not(.fieldgroup) > legend {
  font-size: 18px;
}

fieldset:not(.fieldgroup) > legend:before {
  content: "";
  height: 13px;
  width: 5px;
  background: #009fe3;
  display: inline-block;
  margin-right: 5px;
  vertical-align: baseline;
}

/**
 * Make nested legend labels smaller.
 */
fieldset:not(.fieldgroup) fieldset:not(.fieldgroup) > legend {
  font-size: 14px;
}

fieldset:not(.fieldgroup) fieldset:not(.fieldgroup) > legend:before {
  height: 10px;
}

/**
 * Better Paragraphs table colors.
 */
body .field-multiple-table > tbody > tr,
body .field-multiple-table > tbody > tr.draggable:hover {
  background: transparent;
}

/**
 * Better Paragraphs add-button padding.
 */
.paragraphs-features__add-in-between__wrapper {
  padding: 20px 0;
}

.js .paragraphs-features__add-in-between__wrapper .paragraphs-features__add-in-between__button {
  padding: 7px 18px;
}

/**
 * Override Paragraphs dialog pop-up button colors.
 */

ul.paragraphs-add-dialog-list input.field-add-more-submit {
  background-color: #EAF6FE;
  color: #1F1F1F;
}

ul.paragraphs-add-dialog-list input.field-add-more-submit:focus,
ul.paragraphs-add-dialog-list input.field-add-more-submit:hover {
  background-color: #D8D8D8;
  color: #1F1F1F;
}

/**
 * Override paragraphs actions spacing.
 */
.paragraph-top .paragraphs-actions {
  margin-bottom: 1em;
}

/**
 * Override spacing for "Collapse All" button.
 */
thead .paragraphs-actions {
  margin-left: 0;
  margin-top: 1em;
}

/**
 * Paragraphs edit color override.
 */
.paragraph-form-item__actions .button--icon-only.paragraph-form-item__action--edit {
  background-color: #fff;
}

/**
 * Paragraph toggle dropdown padding updates.
 */
body .paragraphs-actions .paragraphs-dropdown-toggle {
  padding-top: 0 !important;
  padding-bottom: 0;
  height: 30px;
}

/**
 * Adjust spacing around table checkboxes, relative
 * to the drag handle on paragraphs form.
 */
 .field-multiple-table--paragraphs input.tabledrag-checkbox {
  position: relative;
  left: 5px;
  top: -2px;
}

/**
 * Add more spacing underneath paragraphs form.
 */
form .field-multiple-table--paragraphs {
  margin-bottom: 20px;
}

/**
 * Textareas have filtered help text directly underneath.
 */
tr.odd .form-item.form-type-textarea,
tr.even .form-item.form-type-textarea {
  margin-bottom: 0;
}

/**
 * Add max width for embedded images.
 */
.paragraph-form-item__preview .text-formatted img {
  max-width: 100px;
}

/**
 * Add spacing to "Add Paragraph" button.
 */
@media (min-width: 600px) {
  .js .paragraph-type-add-modal {
    margin-right: 4px;
  }
}

/**
 * Adjust tabledrag spacer size
 */
body .field-multiple-table > tbody > tr.tabledrag-sort-spacer {
  height: 1px;
}

/**
 * Page title overrides.
 */
.content-header .page-title {
  font-size: 24px;
}

/**
 * Fixed link color quirk from elements.css
 */
a, .link {
  color: #0C5C7F;
}

/**
 * Table color overrides
 */
th > a:hover,
th > a:focus,
th.is-active > a:hover,
th.is-active > a:focus{
  color:#0f739f;
  text-decoration:none;
}

th > a:hover:after,
th > a:focus:after,
th.is-active > a:hover:after,
th.is-active > a:focus:after{
  border-bottom-color:#0f739f;
}

/**
 * Force no background on table row hovers.
 */
tr:hover, th:hover {
  background: none !important;
}

/**
 * Breadcrumbs
 */
.breadcrumb li {
  color: #1F1F1F;
}

/**
 * Label override.
 */
label {
  text-transform: inherit;
}

/**
 * Content moderation label spacing
 */
.field--name-moderation-state label {
  padding-right: 5px;
}

/**
 * Media library updates
 */
 .media-library-item--grid:before {
  width: calc(100% - 13px) !important;
  height: calc(100% - 14px) !important;
 }

 .entity-add-or-edit-form .form-item__field-wrapper--has-description input.form-file {
   max-width: 100% !important;
 }

 .media-library-item__attributes {
  bottom: 12px !important;
 }
