// Import site utilities.
@import '../../global/utils/init';

.card-carousel__wrapper {
  padding-bottom: 10px;
}

.card-carousel-item {
  margin: 20px;

  .card__title {
    margin-top: 0;
  }
}

.card-carousel-item__media {
  display: block;
  position: relative;
}

.card-carousel-item__media-thumb {
  width: 100%;
}

.card-carousel-item__expand {
  display: block;
  background-color: transparent;
  position: absolute;
  border: 0;
  padding: 0;
  margin: 0;
  width: 32px;
  height: 32px;
  right: 15px;
  bottom: 15px;
  transition: bottom 0.25s;
  cursor: pointer;
}

.card-carousel__list.card-carousel__slick {
  padding-left: 0;

  .slick-prev,
  .slick-next {
    &::before {
      color: $color-blue;
      font-size: 40px;
    }
  }

  // Make dots below carousel larger.
  // Improves navigation UX, especially mobile.
  .slick-dots {
    bottom: -50px;

    li {
      height: 35px;
      width: 35px;

      button {
        height: 35px;
        width: 35px;

        &::before {
          font-size: 20px;
          height: 35px;
          position: initial;
          width: 35px;
        }
      }
    }
  }
}
