// Colors.
//
// All Sass color variables prefixed with $color-.
// This makes it easy to figure out what a variable
// is for later.
//
// If you need help naming colors check out:
// http://chir.ag/projects/name-that-color/

// Primary
$color-primary: #e74c3c;
$color-rio-grande: #c4d600;
$color-white: #FFF;
$color-black: #404040;
$color-blue: #003954;
$color-req-red: #D0021B;
$color-admin-blue: #0C5C7F;

// Grays
$color-tundora: #464646;
$color-silver: #bbb;
$color-alto: #ddd;
$color-light-gray: #eee;
$color-oslo-gray: #888b8d;
$color-lighter-gray: #f7f7f7;

// Supporting colors for messages
$color-green: #77b259;
$color-dark-green: #325e1c;
$color-light-green: #f3faef;
$color-red: #a51b00;
$color-orange: #e62600;
$color-pink: #fcf4f2;
$color-beige: #fdf8ed;
$color-brown: #734c00;

// Transparent colors
$color-transparent-white: rgba(255, 255, 255, 0.8);
