{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{% embed "@rain_theme/paragraphs/paragraph--embed.html.twig" %}
  {% block paragraph %}
    <div{{ attributes.addClass(classes).addClass('container') }}>
      {% block content %}
        {{ content|without('field_title') }}
      {% endblock %}
    </div>
  {% endblock paragraph %}
{% endembed %}
