// Import site utilities.
@import '../../global/utils/init';

.gtranslate {
  text-align: right;
  background: $color-black;
  padding: 5px;

  select {
    background: $color-black;
    color: $color-white;
    border: 1px solid $color-white;
  }
}
