{#
/**
 * @file
 * Default theme implementation for the Twitter API display tweets method.
 *
 * Available variables:
 * - embeds: An array of embeds.
 *
 * @ingroup themeable
 */
#}
{% for item in embeds %}
  {{ item.html|raw }}
{% endfor %}
