@import '../../global/utils/init';


.breadcrumb {
  @include layout-content;
  padding: 15px 0;
}

.breadcrumb__item {
  color: $color-black;
  display: inline;
  margin: 0;
  padding: 0;
  list-style-type: none;

  &:not(:first-of-type)::before {
    content: '/';
    color: $color-black;
    margin: 0 10px;
  }

  a {
    text-decoration: none;
    color: $color-black;

    &:hover {
      text-decoration: underline;
    }
  }
}
