// Styling for Page Title.

// Import site utilities.
@import '../../global/utils/init';

// Paragraph block that renders title and summary.
.page-title__wrapper {
  margin-bottom: 30px;
  display: grid;

  @include breakpoint($bp-lg) {
    display: block;
  }

  .page-title__left {
    grid-row: 1;

    @include breakpoint($bp-lg) {
      grid-row: none;

      .heading {
        max-width: calc(50% + 200px);
      }
    }
  }

  .page-title__right {
    padding: 0 2rem;
    grid-row: 2;

    @include breakpoint($bp-lg) {
      grid-row: none;
      float: right;
      width: 50%;
    }
  }
}

.page-title {
  margin-top: 20px;

  .heading {
    border: 1px solid $color-primary;
    border-left: 0;
    font-weight: normal;
    padding-left: 250px;
    margin-left: -250px;
    max-width: calc(100% + 200px);

    span {
      display: inline-block;
      background: $color-white;
      position: relative;
      top: -30px;
      padding: 0 1rem;
      margin-bottom: -10px;
    }
  }
}
