.seven-details{
  margin-top:1em;
  margin-bottom:1em;
  border:1px solid #bfbfbf;
  border-radius:3px;
  background-color:#fcfcfa;
}

.seven-details__summary{
  cursor:pointer;
  color:#0074bd;
  text-shadow:0 1px 0 white;
}

.seven-details__summary:hover,
.seven-details__summary:focus,
.seven-details[open] > .seven-details__summary{
  color:#004f80;
}

.seven-details__wrapper{
  padding:0 1.5em 1em 1.5em;
}

.seven-details{
  background-color:#fff;
  border-color:#dae0e3;
  border-radius:2px;
}
