.eb-tabs ul{
  border-bottom:none;
}

.eb-tabs ul li{
  padding:0.75em;
}

.eb-tabs ul li a{
  padding:0 0 2px 0;
  color:#0f739f;
}

.eb-tabs ul li:first-child{
  padding-left:0;
}

.eb-tabs ul li.active{
  border-bottom:none;
}

.eb-tabs ul li.active a{
  color:#0f739f;
  border-bottom:3px solid #0f739f;
}
