form .field-multiple-table{
  margin:0;
}

form .field-multiple-table .field-multiple-drag{
  width:30px;
  padding-right:0;
}

[dir="rtl"] form .field-multiple-table .field-multiple-drag{
  padding-left:0;
}

form .field-multiple-table .field-multiple-drag .tabledrag-handle{
  padding-right:0.5em;
}

[dir="rtl"] form .field-multiple-table .field-multiple-drag .tabledrag-handle{
  padding-right:0;
  padding-left:0.5em;
}

form .field-add-more-submit{
  margin:0.5em 0 0;
}

.form-item, .form-actions{
  margin-top:1em;
  margin-bottom:1em;
}

tr.odd .form-item, tr.even .form-item{
  margin-top:0;
  margin-bottom:0;
}

.form-composite > .fieldset-wrapper > .description, .form-item .description{
  font-size:0.85em;
}

label.option{
  display:inline;
  font-weight:normal;
}

.form-composite > legend, .label{
  display:inline;
  margin:0;
  padding:0;
  font-weight:bold;
}

.form-checkboxes .form-item, .form-radios .form-item{
  margin-top:0.4em;
  margin-bottom:0.4em;
}

.form-type-radio .description, .form-type-checkbox .description{
  margin-left:2.4em;
}

[dir="rtl"] .form-type-radio .description, [dir="rtl"] .form-type-checkbox .description{
  margin-right:2.4em;
  margin-left:0;
}

.marker{
  color:#e00;
}

.form-required:after{
  display:inline-block;
  width:6px;
  height:6px;
  margin:0 0.3em;
  content:"";
  vertical-align:super;
  background-image:url(../../../../misc/icons/ee0000/required.svg);
  background-repeat:no-repeat;
  background-size:6px 6px;
}

abbr.tabledrag-changed, abbr.ajax-changed{
  border-bottom:none;
}

.form-item input.error, .form-item textarea.error, .form-item select.error{
  border:2px solid red;
}

.form-item--error-message:before{
  display:inline-block;
  width:14px;
  height:14px;
  content:"";
  vertical-align:sub;
  background:url(../../../../misc/icons/e32700/error.svg) no-repeat;
  background-size:contain;
}
.form-required:after{
  background-image:url(../../../thunder_admin/images/icons/required.svg);
}

.form-item--error-message:before{
  height:15px;
  width:15px;
  vertical-align:text-top;
  margin-right:0.333em;
  background:url(../../../thunder_admin/images/icons/error.svg) no-repeat;
}
form{
  margin:0;
  padding:0;
}

.fieldgroup{
  min-width:0;
}

@media (min--moz-device-pixel-ratio: 0){
  .fieldgroup{
    display:table-cell;
  }
}

.form-item{
  margin:0.75em 0;
}

tr.odd .form-item, tr.even .form-item{
  margin-top:0.75em;
  margin-bottom:0.75em;
}

td > .form-item:only-child{
  margin-top:0;
  margin-bottom:0;
}

.form-type-checkbox{
  padding:0;
}

label{
  display:table;
  margin:0 0 0.1em;
  padding:0;
  font-weight:bold;
}

label.error{
  color:#a51b00;
}

label[for]{
  cursor:pointer;
}

.form-item label.option{
  text-transform:none;
}

.form-item label.option input{
  vertical-align:middle;
}

.form-disabled label{
  color:#686868;
}

.form-disabled input.form-date, .form-disabled input.form-text, .form-disabled input.form-tel, .form-disabled input.form-time, .form-disabled input.form-email, .form-disabled input.form-url, .form-disabled input.form-search, .form-disabled input.form-number, .form-disabled input.form-color, .form-disabled input.form-file, .form-disabled textarea.form-textarea, .form-disabled select.form-select{
  border-color:#d4d4d4;
  background-color:rgba(0, 0, 0, 0.08);
  box-shadow:none;
}

.form-item input.error, .form-item textarea.error, .form-item select.error{
  color:#a51b00;
  border-width:1px;
  border-color:#e62600;
  background-color:#fdf4f2;
  box-shadow:inset 0 5px 5px -5px #b8b8b8;
}

.form-item textarea.error + .cke{
  border-width:1px;
  border-color:#e62600;
}

.form-item input.error:focus, .form-item textarea.error:focus, .form-item select.error:focus{
  border-color:#e62600;
  outline:0;
  background-color:#fcf4f2;
  box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 0 8px 1px #e62600;
}

.form-required:after{
  width:7px;
  height:7px;
  background-size:7px 7px;
}

.form-item--error-message{
  margin-top:0.15em;
  color:#e32700;
}

.fieldset-wrapper > .form-item--error-message{
  margin-top:0;
}

.text-format-wrapper .form-item--error-message{
  margin:0;
  padding:0.25em 0.666em 0;
  border:solid #ccc;
  border-width:0 1px;
}

ul.tips, div.description, .form-item .description{
  margin:0.2em 0 0 0;
  color:#595959;
  font-size:0.95em;
}

.form-item .description.error{
  margin-top:0;
  color:#a51b00;
}

ul.tips li{
  margin:0.25em 0 0.25em 1.5em;
}

[dir="rtl"] ul.tips li{
  margin:0.25em 1.5em 0.25em 0;
}

.form-type-radio .description, .form-type-checkbox .description{
  margin-left:1.5em;
}

[dir="rtl"] .form-type-radio .description, [dir="rtl"] .form-type-checkbox .description{
  margin-right:1.5em;
  margin-left:0;
}

.form-text, .form-textarea{
  border-radius:2px;
  font-size:1em;
  line-height:normal;
}

input.form-autocomplete, input.form-text, input.form-tel, input.form-email, input.form-url, input.form-search, input.form-number, input.form-color, input.form-file, input.form-date, input.form-time, textarea.form-textarea{
  max-width:100%;
  padding:0.3em 0.4em 0.3em 0.5em;
  transition:border linear 0.2s,box-shadow linear 0.2s;
  color:#595959;
  border:1px solid #b8b8b8;
  border-top-color:#999;
  border-radius:2px;
  background:#fcfcfa;
  box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.125);
  font-size:1em;
}

[dir="rtl"] textarea.form-textarea{
  padding:0.3em 0.5em 0.3em 0.4em;
}

.form-text:focus, .form-tel:focus, .form-email:focus, .form-url:focus, .form-search:focus, .form-number:focus, .form-color:focus, .form-file:focus, .form-textarea:focus, .form-date:focus, .form-time:focus{
  border-color:#40b6ff;
  outline:0;
  background-color:#fff;
  box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 0 8px #40b6ff;
}

.confirm-parent, .password-parent{
  overflow:visible;
  width:auto;
}

.form-item-options-group-info-identifier, .form-item-pass .description{
  clear:both;
}

select{
  max-width:100%;
}

@media screen and (-webkit-min-device-pixel-ratio: 0){
  select{
    padding:1px 1.571em 1px 0.5em;
    cursor:pointer;
    transition:all 0.1s;
    border:1px solid #a6a6a6;
    border-radius:0.143em;
    background:url(../../../../misc/icons/333333/caret-down.svg) no-repeat 99% 63%, -webkit-linear-gradient(top, #f6f6f3, #e7e7df);
    text-shadow:0 1px rgba(255, 255, 255, 0.6);
    font-size:0.875rem;
    -webkit-appearance:none;
    -webkit-font-smoothing:antialiased;
  }
  [dir="rtl"] select{
    padding:1px 0.714em 1px 1.571em;
    background-position:1% 63%,0 0;
  }
  select:focus, select:hover{
    color:#1a1a1a;
    background-image:url(../../../../misc/icons/333333/caret-down.svg), -webkit-linear-gradient(top, #fcfcfa, #e9e9dd);
  }
  select:hover{
    box-shadow:0 1px 2px rgba(0, 0, 0, 0.125);
  }
}

[dir="rtl"] #edit-cancel{
  margin-right:10px;
  margin-left:0;
}

@media screen and (max-width: 600px){
  input.form-autocomplete, input.form-text, input.form-tel, input.form-email, input.form-url, input.form-search, input.form-number, input.form-color, input.form-file, textarea.form-textarea{
    width:100%;
    font-size:1.2em;
    line-height:1.2em;
  }
  input.form-number{
    width:auto;
  }
  .form-actions input, .form-wrapper input[type="submit"]{
    float:none;
    width:100%;
    margin-top:10px;
    margin-right:0;
    margin-left:0;
    padding-bottom:6px;
  }
  .form-actions input:first-child, .form-wrapper input[type="submit"]:first-child{
    margin-top:0;
  }
  details summary{
    overflow:hidden;
    box-sizing:border-box;
    white-space:nowrap;
    text-overflow:ellipsis;
  }
  .password-strength{
    width:100%;
  }
  div.form-item div.password-suggestions{
    float:none;
  }
  #dblog-filter-form .form-actions{
    float:none;
    padding:0;
  }
  select{
    width:100%;
  }
}

#diff-inline-form select, div.filter-options select{
  padding:0;
}
fieldset{
  border:1px solid #dae0e3;
}

.content-form__main > details,
fieldset:not(.fieldgroup){
  background-color:#fff;
  border-radius:2px;
  margin:1em 0;
  padding:30px 18px 18px;
  min-width:0;
  position:relative;
}
@media (min--moz-device-pixel-ratio: 0){
  .content-form__main > details,
  fieldset:not(.fieldgroup){
    display:table-cell;
  }
}

.content-form__main > details > summary,
fieldset:not(.fieldgroup) > legend{
  font-size:1em;
  font-weight:bold;
  letter-spacing:0.08em;
  position:absolute;
  text-transform:uppercase;
  top:10px;
}

label{
  margin:0 0 0 0.3em;
  text-transform:uppercase;
}
.tips,
.description,
.form-item .description{
  margin:0.2em 0 0 0;
  color:#595959;
  font-size:0.95em;
}

.tips li{
  margin:0.25em 0 0.25em 1.5em;
}

[dir="rtl"] .tips li{
  margin:0.25em 1.5em 0.25em 0;
}

.form-type-radio .description,
.form-type-checkbox .description{
  margin-left:1.5em;
}

[dir="rtl"] .form-type-radio .description,
[dir="rtl"] .form-type-checkbox .description{
  margin-left:0;
  margin-right:1.5em;
}
.form-type-checkbox,
.form-type-radio{
  min-height:22px;
}

.form-type-checkbox input,
.form-type-checkbox label,
.form-type-radio input,
.form-type-radio label{
  vertical-align:middle;
}

.form-type-checkbox label,
.form-type-radio label{
  margin-left:0.5em;
}

.form-type-checkbox .form-item__description,
.form-type-radio .form-item__description{
  margin-top:0;
}

.form-type-checkbox.is-description-visible .form-item__description,
.form-type-radio.is-description-visible .form-item__description{
  margin-top:0.2em;
}
.form-text,
.form-textarea{
  line-height:normal;
}

input.form-autocomplete,
input.form-text,
input.form-tel,
input.form-email,
input.form-url,
input.form-search,
input.form-number,
input.form-color,
input.form-file,
input.form-date,
input.form-time,
textarea.form-textarea{
  min-height:35px;
  background:#fff;
  border-color:#dae0e3;
  color:#062330;
  border-radius:4px;
  box-shadow:none;
}

.form-text:focus,
.form-tel:focus,
.form-email:focus,
.form-url:focus,
.form-search:focus,
.form-number:focus,
.form-color:focus,
.form-file:focus,
.form-textarea:focus,
.form-date:focus,
.form-time:focus{
  border-color:#0f739f;
  box-shadow:none;
}

@media screen and (-webkit-min-device-pixel-ratio: 0), screen and (-moz-device-pixel-ratio){
  select{
    min-height:35px;
    padding:1px 1.571em 1px 0.5em;
    border:1px solid #dae0e3;
    border-radius:4px;
    background:url(../../../thunder_admin/images/icons/caret-down.svg) no-repeat 99% 50% #fff;
    color:#062330;
    font-size:0.875rem;
  }
  [dir="rtl"] select{
    padding:1px 0.714em 1px 1.571em;
    background-position:1% 50%, 0 0;
  }
  select:focus,
  select:hover{
    background-image:url(../../../thunder_admin/images/icons/caret-down.svg);
  }
}

@media screen and (-moz-device-pixel-ratio){
  select{
    -moz-appearance:none;
    padding-top:6px;
  }
}
.filter-options select,
#diff-inline-form select{
  padding:0;
}
.form-actions .button{
  margin-left:0;
  margin-right:1em;
}

.form-actions .button:last-child{
  margin-right:0;
}

.form-item .file-size,
.container-inline .form-item + .form-item,
.filter-wrapper .form-item label + *{
  margin-left:0.316em;
}
