// Import site utilities.
@import '../../global/utils/init';

.heading {
  font-size: 1.3rem;

  svg {
    position: relative;
    top: 5px;
    margin-right: 10px;
    font-size: 200%;
  }

  a {
    text-decoration: none;
  }
}

.heading--section {
  background: #152f52;
  color: #fff;
  font-size: 1.75rem;
  font-weight: 300;
  padding-left: 300px;
  margin-left: -250px;
  width: calc(100% + 230px);

  @include breakpoint($bp-sm) {
    font-size: 3.375rem;
    padding-left: 250px;
    width: calc(100% + 250px);
  }
}
